{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/about.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <!--Title-->
    <h1 class="text-center heading"><strong>About Us</strong></h1>
    <br>

    <!--Team Section-->
    <div>
        <br>
        <div class="d-flex flex-row gap-5 w-75 mx-auto px-5">
            <img src="{{url_for('static', filename = 'img/team_placeholder.jpg')}}" alt="Team Image" class="d-block mx-auto rounded-4 border border-3 w-75" style="width: 50%; height: auto;">
            <div class="d-flex flex-column" style="width: 50%;">
                <h5 class="mt-5"><strong>Our Team</strong></h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    

    <!--Team Cards-->
    <h1 class="text-center"><strong>The Team</strong></h1>
    <div class="container mt-5">
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card about card-animation mx-auto" style="max-width: 400px;">
                    <img src="{{url_for('static', filename = 'img/team_members/shiv_cropped.jpg')}}" alt="Shiv Patel" class="card-img-top">
                    <div class="card-body about-body">
                        <h4 class="card-title">Shiv Patel</h4>
                        <h6>Sensor Development</h6>
                        <p class="card-text">Worked on the sensor and all 3D printing / circuitry while meeting all engineering design standards.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card about card-animation mx-auto" style="max-width: 400px;">
                    <img src="{{url_for('static', filename = 'img/team_members/kanata_cropped.jpg')}}" alt="Kanata Sasaki" class="card-img-top">
                    <div class="card-body about-body">
                        <h4 class="card-title">Kanata Sasaki</h4>
                        <h6>Sensor Development</h6>
                        <p class="card-text">Worked on the sensor and all 3D printing / circuitry while meeting all engineering design standards.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 justify-content-center mt-4">
            <div class="col-12 col-md-6">
                <div class="card about card-animation mx-auto" style="max-width: 400px;">
                    <img src="{{url_for('static', filename = 'img/team_members/arjun_cropped.jpg')}}" alt="Arjun Arunprasad" class="card-img-top">
                    <div class="card-body about-body">
                        <h4 class="card-title">Arjun Arunprasad</h4>
                        <h6>Software Development</h6>
                        <p class="card-text">Worked on designing the website, database connection, and flask server.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card about card-animation mx-auto" style="max-width: 400px;">
                    <img src="{{url_for('static', filename = 'img/team_members/alex_cropped.jpg')}}" alt="Alex Oh" class="card-img-top">
                    <div class="card-body about-body">
                        <h4 class="card-title">Alex Oh</h4>
                        <h6>Software Development</h6>
                        <p class="card-text">Worked on designing the website, database connection, and flask server.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
{% endblock main %}