{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/about.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!--Title-->
    <h1 class="text-center heading"><strong>About Us</strong></h1>
    <br>

    <!--Team Section-->
    <section class="mx-auto">
        <br>
        <div class="container">
            <div class="row row-cols-1 row-cols-xl-2 g-5 flex-column">
                <div class="d-flex flex-column mx-auto">
                    <h5 class="mt-2"><strong>Our Team</strong></h5>
                    <p class="">We are Team CarpalSense, a group of juniors from High Technology High School in Lincroft, New Jersey.
                                    We wanted to help people in work environments requiring prolonged hand and wrist strain from repetitive motions like typing, leading to an increased risk for developing carpal tunnel syndrome.
                                    Therefore, we designed a sensor that would allow them to better manage this condition and prevent its further progression.
                                    We hope that people who use our device can improve their hand health by knowing how to adjust their posture and when to take breaks.
                    </p>
                </div>
                <div class="col d-flex align-items-center mx-auto p-0" style="width: 75vw;">
                    <img src="{{url_for('static', filename = 'img/team_members/team_image.png')}}" alt="Team Image" class="rounded-4 w-100">
                </div>
                <div class="col">
                </div>
                
            </div>
            
        </div>
        <br>
        <br>
        <br>
    </section>
    

    <!--Team Cards-->
    <div>
        <h1 class="text-center"><strong>The Team</strong></h1>
        <div class="container mt-5">
            <div class="row g-5 justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card about card-animation mx-auto" style="max-width: 400px;">
                        <img src="{{url_for('static', filename = 'img/team_members/shiv_cropped.jpg')}}" alt="Shiv Patel" class="card-img-top">
                        <div class="card-body about-body">
                            <h4 class="card-title">Shiv Patel</h4>
                            <h6>Sensor Development</h6>
                            <p class="card-text">Worked on the sensor and all 3D printing / circuitry while meeting all engineering design standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card about card-animation mx-auto" style="max-width: 400px;">
                        <img src="{{url_for('static', filename = 'img/team_members/kanata_cropped.jpg')}}" alt="Kanata Sasaki" class="card-img-top">
                        <div class="card-body about-body">
                            <h4 class="card-title">Kanata Sasaki</h4>
                            <h6>Sensor Development</h6>
                            <p class="card-text">Worked on the sensor and all 3D printing / circuitry while meeting all engineering design standards.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5 justify-content-center mt-4">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card about card-animation mx-auto" style="max-width: 400px;">
                        <img src="{{url_for('static', filename = 'img/team_members/arjun_cropped.jpg')}}" alt="Arjun Arunprasad" class="card-img-top">
                        <div class="card-body about-body">
                            <h4 class="card-title">Arjun Arunprasad</h4>
                            <h6>Software Development</h6>
                            <p class="card-text">Worked on designing the website, database connection, and flask server.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card about card-animation mx-auto" style="max-width: 400px;">
                        <img src="{{url_for('static', filename = 'img/team_members/alex_cropped.jpg')}}" alt="Alex Oh" class="card-img-top">
                        <div class="card-body about-body">
                            <h4 class="card-title">Alex Oh</h4>
                            <h6>Software Development</h6>
                            <p class="card-text">Worked on designing the website, database connection, and flask server.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}