{% extends 'layout.html' %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
{% endblock scripts %}

<!-- {% block dashboard_nav_links %}
    <li class="nav-item nbMenuItem">
        <a id="userLink" class="nav-link" href="">User Name</a>
    </li>
    <li class="nav-item nbMenuItem">
        <a id="signOut" class="nav-link hover-underline-animation"
           href="{{ url_for('signIn') }}?next={{ request.path }}">Sign Out</a>
    </li>
{% endblock dashboard_nav_links %} -->

{% block main %}
    <div class="container">
        <br><br>
        <h1 id = "welcome">Welcome {{ currentUser.firstname }}</h1><br><br>
    </div>

    <!--Sensor Graph -->
    <div class="container border card">
        <br><h2>Sensor Graph</h2><br>
        <ol class="list-group list-group-numbered notes">
            <li class="list-group-item border-0">Select a sensor type to view its data over time</li>
        </ol><br>
        
        <div class="container dataForm mb-5">
            <select class="form-select mb-3" id="dataType">
                <option value="bend" selected>Bend</option>
                <option value="emg">EMG</option>
                <option value="imu">IMU</option>
            </select>
        </div>

        <ol class="list-group list-group-numbered notes">
            <li class="list-group-item border-0">Select a measurement session date/time</li>
        </ol><br>

        <div class="container dataForm mb-5">
            <select class="form-select mb-3" id="sessions">
            </select>
        </div>

        <!-- Graph -->
        <div class="container d-flex overflow-hidden bg-dark rounded-4" id="chart-wrapper">
            <canvas id="sensorGraph"></canvas>
        </div>
        <br>
        <button type = "button" id="delete" name="delete" class="btn btn-outline-primary mb-3 w-25 mx-auto">Reset Data</button>
    </div><br>
{% endblock main %}