{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/design.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!--Title-->
    <h1 class="text-center heading"><strong>Sensor Design</strong></h1>
    <br>

    <!--Usage-->
    <section class="mt-5">
        <div class="w-75 mx-auto px-5 pt-3 pb-5 rounded-4" style="background: linear-gradient(0deg, var(--bg) 0%, var(--surface) 100%);">
            <br>
            <h3 class="text-center"><strong>Usage Guide</strong></h3>
            <!-- <video class="rounded-4 mt-5" width="100%" style="aspect-ratio: 16 / 9;" controls>
                <source src="{{ url_for('static', filename='/videos/demo.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
            <iframe src="{{ url_for('static', filename='documents/user_manual.pdf') }}" width="100%" height="600px" class="mt-5" style="border:none;"></iframe>
        </div>
    </section>
    

{% endblock main %}