{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/design.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!--Title-->
    <h1 class="text-center heading"><strong>How To Use CarpalSense</strong></h1>
    <br>

    <!--Procedure-->
    <section class="container mx-auto d-flex flex-column gap-4">
        <div class="row row-cols-1 row-cols-md-2 g-5 mt-0 p-5 mx-auto procedure-odd rounded-5 procedure-animation">
            <div class="col d-flex gap-4 align-items-center justify-content-center mt-0">
                <h1>1.</h1>
                <p>Place the EMG sensor on your forearm using
                    the band attached to it. Ensure that the cable
                    is facing away from you and that the EMG is
                    placed on the Flexor Pollicis Longus muscle.</p>
            </div>
            <div class="col mt-0 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_1.png') }}" alt="Step 1" class="img-fluid rounded-4">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-5 p-5 mx-auto mt-0 procedure-even rounded-5 procedure-animation">
            <div class="col mt-0 order-2 order-md-1 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_2.png') }}" alt="Step 2" class="img-fluid rounded-4">
            </div>
            <div class="col mt-0 order-1 order-md-2 d-flex gap-4 align-items-center justify-content-center">
                <h1>2.</h1>
                <p>Connect a Micro-B to USB cable to the Arduino
                    Nano 33 IOT (located underneath the housing)
                    but do not plug the USB end into the device
                    being connected.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-5 p-5 mx-auto mt-0 procedure-odd rounded-5 procedure-animation">
            <div class="col mt-0 d-flex gap-4 align-items-center justify-content-center">
                <h1>3.</h1>
                <p>Gently pull the glove over your
                    left hand. Make sure that the
                    Arduino 33 Nano IOT and the rest
                    of the circuit are facing up when
                    you do so. Double check all sensor
                    positions before beginning any
                    data collection.</p>
            </div>
            <div class="col mt-0 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_3.png') }}" alt="Step 3" class="img-fluid rounded-4">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-5 p-5 mx-auto mt-0 procedure-even rounded-5 procedure-animation">
            <div class="col mt-0 order-2 order-md-1 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_4.png') }}" alt="Step 4" class="img-fluid rounded-4">
            </div>
            <div class="col mt-0 order-1 order-md-2 d-flex gap-4 align-items-center justify-content-center">
                <h1>4.</h1>
                <p>Plug in the USB into the computer and
                    place your gloved hand flat on a desk in
                    a flat position for 5-8 seconds. Holding
                    this position will allow the sensor to
                    calibrate the EMG.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-5 p-5 mx-auto mt-0 procedure-odd rounded-5 procedure-animation">
            <div class="col mt-0 d-flex gap-4 align-items-center justify-content-center">
                <h1>5.</h1>
                <p>Once your device is connected, go to your Dashboard and start a new monitoring session.
                    Click Start to begin collecting data. To toggle
                    which sensor you see, use the sensor view menu.</p>
            </div>
            <div class="col mt-0 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_5.png') }}" alt="Step 5" class="img-fluid rounded-4">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-5 p-5 mx-auto mt-0 procedure-even rounded-5 procedure-animation">
            <div class="col mt-0 order-2 order-md-1 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/step_6.png') }}" alt="Step 6" class="img-fluid rounded-4">
            </div>
            <div class="col mt-0 order-1 order-md-2 d-flex gap-4 align-items-center justify-content-center">
                <h1>6.</h1>
                <p>If the accumulated strain on
                    the wrist reaches a “danger
                    zone”, a notification will pop up in the Alerts
                    panel telling you what the risk is and what you should do.</p>
            </div>
        </div>
    </section>

    <!--FAQ-->
    <div id="faq" class="overview text-dark p-2 text-left">
        <br><br>
        <h1 class="text-center mt-5" id="FAQ-title", style="color:white;"><strong>FAQ</strong></h1>
        <br>
        <div class="mt-5 d-flex flex-column justify-content-center gap-4">

            <!-- Question 1 -->
            <div class="container card w-75 p-4 px-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto text-center px-4">
                        <h4><strong>Why are my EMG readings off?</strong></h4>
                    </div>
                    <div class="col-md-auto text-end px-4">
                        <i class="help-center-arrow-toggle bi bi-arrow-down-circle fs-3" data-bs-toggle="collapse"
                            data-bs-target="#answer-1"></i>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between collapse" id="answer-1">
                    <div class="col-md-auto text-start px-4 mt-3">
                        <p>
                            Place your hand with the glove on a table flat for about five to eight seconds.
                            If you keep your hand still for this amount of time, the EMG can calibrate and give out accurate readings.
                            Make sure the sensor is plugged in!
                        </p>
                    </div>
                </div>
            </div>

            <!-- Question 2 -->
            <div class="container card w-75 p-4 px-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto text-center px-4">
                        <h4><strong>Who is this device designed for?</strong></h4>
                    </div>
                    <div class="col-md-auto text-end px-4">
                        <i class="help-center-arrow-toggle bi bi-arrow-down-circle fs-3" data-bs-toggle="collapse"
                            data-bs-target="#answer-2"></i>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between collapse" id="answer-2">
                    <div class="col-md-auto text-start px-4 mt-3">
                        <p>
                            This device is designed for people who frequently use their wrist during their daily lives.
                            Keeping your wrist in a bent position can lead to carpal tunnel syndrome, and this sensor prevents this by giving accurate readings and risk levels of the condition.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Question 3 -->
            <div class="container card w-75 p-4 px-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto text-center px-4">
                        <h4><strong>How does the device work?</strong></h4>
                    </div>
                    <div class="col-md-auto text-end px-4">
                        <i class="help-center-arrow-toggle bi bi-arrow-down-circle fs-3" data-bs-toggle="collapse"
                            data-bs-target="#answer-3"></i>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between collapse" id="answer-3">
                    <div class="col-md-auto text-start px-4 mt-3">
                        <p>
                            The product uses two sensors, a flex sensor and EMG sensor.
                            The flex sensor detects wrist bending while the EMG sensor detects electrical activity within muscles.
                            Both these sensors work in tandem to give the user accurate readings and a risk level.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Question 4 -->
            <div class="container card w-75 p-4 px-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-auto text-center px-4">
                        <h4><strong>Will this be uncomfortable to wear?</strong></h4>
                    </div>
                    <div class="col-md-auto text-end px-4">
                        <i class="help-center-arrow-toggle bi bi-arrow-down-circle fs-3" data-bs-toggle="collapse"
                            data-bs-target="#answer-4"></i>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between collapse" id="answer-4">
                    <div class="col-md-auto text-start px-4 mt-3">
                        <p>
                            This wearable sensor will be perfectly comfortable to wear.
                            It features a comfortable glove that fits well and is easy to put on.
                            We make sure that even with all these wires and other components, the user's quality of life experience isn't diminished in any way.
                        </p>
                    </div>
                </div>
            </div>

    <!--Materials--
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="width:80%">
        <div class="order-2 order-md-1">
            <br><br><br><br>
            <h4><strong>Materials</strong></h4>
            <p class="mt-3">Our device uses various sensors to deliver accurate readings while providing the user a comfortable experience:</p>
            <ul>
                <li>A flex and EMG sensor to collect data</li>
                <li>An Arduino Nano 33 IOT to process and deliver the readings to the database</li>
                <li>A glove to serve as a comfortable way for the user to use the device</li>
            </ul>
            <p>A list of materials is shown below.
                It features the different parts used, the quantity / cost of each part, and the purpose each part serves.</p>
        </div>
        <div class="px-3 order-1 order-md-2">
            <img src="{{url_for('static', filename = 'img/sensor.jpg')}}" alt="CarpalSense Photo" class="d-block mx-auto mt-4 rounded-4 border border-3" style="width:100%">
        </div>
    </div>

    <br><br>

    !--Material list--
    <section>
        <div class="card w-75 mx-auto" style="background-color: rgb(255, 255, 255, 0.05);">
            <div class="card-body px-5 pt-5 pb-4">
                <div class="mx-auto table-responsive">

                    !--Materials table--
                    <table class="table table-striped table-bordered table-hover my-table">

                        !--Table head--
                        <thead>
                            <tr>
                                <th scope="col">Material</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Purpose</th>
                            </tr>
                        </thead>

                        !--Table body--
                        <tbody class="table-group-divider">

                            !--Arduino--
                            <tr>
                                <td>Arduino Nano 33 IoT</td>
                                <td>1</td>
                                <td>$13.00</td>
                                <td>Processes sensor readings and sends them to the database</td>
                            </tr>

                            !--Fingerless Glove--
                            <tr>
                                <td>Fingerless Glove</td>
                                <td>1</td>
                                <td>$13.95</td>
                                <td>A comfortable sleeve for the user to wear</td>
                            </tr>

                            !--Flex Sensor--
                            <tr>
                                <td>Flex Sensor</td>
                                <td>1</td>
                                <td>$7.95</td>
                                <td>Measures wrist bending / flexion</td>
                            </tr>

                            !--EMG Sensor--
                            <tr>
                                <td>OYMotion EMG Sensor</td>
                                <td>1</td>
                                <td>$49.50</td>
                                <td>Measures electrical activity from muscle contractions at the wrist from the skin surface</td>
                            </tr>

                            !--Clincher Connector--
                            <tr>
                                <td>Clincher Connector</td>
                                <td>1</td>
                                <td>$2.95</td>
                                <td>Connects the flex sensor to the circuit</td>
                            </tr>

                            !--Elastic Fabric--
                            <tr>
                                <td>Elastic Fabric</td>
                                <td>1</td>
                                <td>$5.49</td>
                                <td>Houses the Arduino components, flex sensor, and EMG sensor</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    

    !-- Model Section --
    <section class="bg-black mt-5 pb-3" style="background-image: url('../static/img/model_bg.jpg'); background-size: cover;">
        <div id="model" class="overview text-left p-2 w-75 mx-auto">
            <br>
            <h1 class="text-center"><strong>The Model</strong></h1>
            <div class="row mt-5">
                !-- Left column: text --
                <div class="p-2 col-12 col-md order-3 order-md-1">
                    <br><br><br>
                    <h4 class="mt-4"><strong>Software & Methods</strong></h4>
                    <p class="mt-2">
                        We used Autodesk Fusion 360 to model the sensor alongside all it's associated components. 
                        The model to the right represents our final sensor.
                        A simplified circuit diagram was also made using Fritzing, as shown on the right.
                    </p>
                    <h4 class="mt-4"><strong>Mathematical Model</strong></h4>
                    <p class="mt-2">
                        Additionally, our sensor uses a mathematical model to detect when a user is at risk to develop or trigger carpal tunnel syndrome.
                        If a sensor value exceeds a certain threshold for an extended period of time, the dashboard will alert the user and recommend that they take a break.
                        When the user maintains a good wrist state for long enough, the alerts will disappear.
                    </p>
                </div>

                !-- Divider --
                <div class="d-none d-md-flex col-auto justify-content-center px-0 mx-5 order-2">
                    <div class="vr"></div>
                </div>

                !-- Right column: interactive 3D viewer --
                <div class="p-2 col-12 col-md order-1 order-md-3">
                    <div id="modelCarousel" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#modelCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#modelCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner rounded-3">
                            <div class="carousel-item active" style="height: 500px;">
                                <model-viewer src="{{url_for('static', filename = 'models/carpalsense.glb')}}" alt="CarpalSense Model" auto-rotate camera-controls
                                    style="background-color:#101f34" class="d-block w-100 h-100">
                                </model-viewer>
                            </div>
                            <div class="carousel-item bg-white" style="height: 500px;">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <img src="{{ url_for('static', filename='img/circuit_diagram.png') }}" alt="Circuit Diagram" class="d-block w-75">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-next" type="button" data-bs-target="#modelCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    

    <!--Usage-->
    <!-- <section class="mt-5">
        <div class="w-75 mx-auto px-5 pt-3 pb-5 rounded-4" style="background: linear-gradient(0deg, var(--bg) 0%, var(--surface) 100%);">
            <br>
            <h3 class="text-center"><strong>Usage Guide</strong></h3>
            <!-- <video class="rounded-4 mt-5" width="100%" style="aspect-ratio: 16 / 9;" controls>
                <source src="{{ url_for('static', filename='/videos/demo.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video> --
            <iframe src="{{ url_for('static', filename='documents/user_manual.pdf') }}" width="100%" height="600px" class="mt-5" style="border:none;"></iframe>
        </div>
    </section> -->
    

{% endblock main %}