{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/index.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <!-- Banner -->
    <section class="banner text-center text-light">
        <div class="container">
            <h1 class="display-5 fw-bold">CarpalSense</h1>
            <p class="fs-4">The future of carpal tunnel prevention and hand health.</p>
            <div class="d-flex gap-3 justify-content-center mb-5">
                    <button class="btn btn-light">Get Started</button>
                    <button class="btn btn-outline-light">Learn More</button>
            </div>
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
            
        </div>
    </section>
    
    <!--Overview -->
    <section class="bg-white text-dark p-2 text-left">
        <div class="container">
            <br> <!-- Line break -->
            <h1 class="text-center">What is CarpalSense?</h1>
            <p class="overview-font">CarpalSense is a revolutionary approach to preventing carpal tunnel syndrome and promoting hand health through advanced sensor technology and data analytics.</p>
            <hr><br> <!-- Horizontal line and line break -->
        </div>
    </section>
{% endblock main %}