{% extends 'layout.html' %}

{% block main %}
    <!-- Banner -->
    <section class="banner text-left text-light">
        <div class="container">
            <h1 class="display-5 fw-bold">CarpalSense</h1>
            <p class="col-md-8 fs-4">The future of carpal tunnel prevention and hand health.</p>
        </div>
    </section>
    
    <!--Overview -->
    <section class="bg-white text-dark p-2 text-left">
        <div class="container">
            <br> <!-- Line break -->
            <h1 class="text-center">Firebase Demo</h1>
            <p class="overview-font">This site will demonstrate how to:</p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item border-0 ordered-List-item-font">Create users using email and password authentication</li>
                <li class="list-group-item border-0 ordered-List-item-font">Log a user in to the site</li>
                <li class="list-group-item border-0 ordered-List-item-font">Create, Read, Update & Delete data</li>
            </ol>
            <hr><br> <!-- Horizontal line and line break -->
        </div>
    </section>
{% endblock main %}