{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/problem.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!--Title-->
    <h1 class="text-center heading"><strong>The Problem</strong></h1>

    <!--Image-->
    <img src="{{url_for('static', filename = 'img/carpal_tunnel.jpg')}}" alt="Problem Image" class="d-block mx-auto mt-5 rounded-4 border border-3" style="width:75vw; max-width: 700px;">
    <br>

    <!--Text-->
    <div class="row mx-auto mt-3 d-flex align-items-center" style="width:80%">
        <div class="col-12 col-md-6">
            <h4 class=""><strong>What is Carpal Tunnel Syndrome?</strong></h4>
            <p class class="mt-3">Carpal tunnel syndrome is one of the most common hand conditions in the world.
                                The carpal tunnel is located at the wrist on the palm side of the hand, and it is a narrow passageway that is surrounded by bones and ligaments.
                                When the median nerve is compressed, the carpal tunnel experiences more pressure and narrowing, while leads to the development of carpal tunnel syndrome.
            </p>
        </div>
        <div class="col-12 col-md-6 ps-5">
            <img src="{{url_for('static', filename = 'img/median_nerve_compress.jpg')}}" alt="Median Nerve Compression Image" class="d-block mx-auto mt-5 rounded-4 border border-3" style="width:100%">
        </div>
    </div>

    <!--Symptoms-->
    <div class="mx-auto" style="width:80%">
        <br>
        <h4 class="mt-5"><strong>What Symptoms are Associated With the Condition?</strong></h4>
        <br>
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card card-uses card-animation">
                    <div class="card-image">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/tingling.jpg') }}" alt="Real-time Monitoring" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fs-5"><strong>Tingling</strong></h4>
                        <p class="card-text">Tingling is one of the first symptoms that occurs during carpal tunnel syndrome. The thumb, middle, and ring fingers are usually affected. You might feel a "pins and needles" sensation and minor discomfort.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-uses card-animation">
                    <div class="card-image">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/numbness.jpg') }}" alt="Predictive Analytics">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fs-5"><strong>Numbness</strong></h4>
                        <p class="card-text">Numbness usually occurs alongside tingling, and can become worse at night. It is also possible that you might feel a shooting pain in your fingers, and the sensation can travel up the wrist into the arm.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-uses card-animation">
                    <div class="card-image">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/weakness.jpg') }}" alt="Personalized Recommendations">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fs-5"><strong>Weakness</strong></h4>
                        <p class="card-text">Weakness is usually one of the later symptoms of the condition. It can cause you to frequently drop objects and struggle to grip things. You might have difficulty performing precise tasks like buttoning a shirt.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    
    

    <!--Quote-->
    <section class="mt-5 bg-black pb-5 py-3">
        <div class="w-75 align-items-center justify-content-center mx-auto">
            <br>
            <h2 class="text-center">"My constant wrist injuries caused me to get fired, but CarpalSense has come to my rescue!"</h2>
            <div class="mx-auto row row-cols-1 row-cols-md-2 mt-5 w-75 px-5">
                <div class="col">
                    <img src="{{url_for('static', filename = 'img/asian_man.jpg')}}" alt="Quote Profile Picture" class="d-block rounded-4 border border-3 img-fluid" style="max-width: 200px;">
                </div>
                <div class="col px-4 mt-4 mt-md-0 d-flex flex-column justify-content-center">
                    <h6>Tanaka Kuroto</h6>
                    <p>Software Engineer & Management</p>
                </div>
            </div>
        </div>
    </section>

    <br>

    <!--Text 2-->
    <div class="w-75 mx-auto">
        <h5 class="mt-5"><strong>How is Carpal Tunnel Syndrome Treated?</strong></h5>
        <p class class="mt-3">If carpal tunnel syndrome isn't caught early, more extreme methods like surgery, wrist splinting, and anti-inflammatory drugs must be used to treat the condition.
                              However, if the condition is caught before it gets worse, simple things can be done to fix the condition like breaks, calm activities, and cold packs.
                              The problem is that most people are unaware of the dangers of carpal tunnel syndrome and just pass off symptoms as simple muscle pulls or fatigue.
                              CarpalSense can help solve this problem by providing real-time information that lets users prevent or manage carpal tunnel syndrome.
        </p>
    </div>
{% endblock main %}