{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/problem.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!--Title-->
    <h1 class="text-center heading"><strong>The Problem</strong></h1>

    <!--Image-->
    <img src="{{url_for('static', filename = 'img/carpal_tunnel.jpg')}}" alt="Problem Image" class="d-block mx-auto mt-5 rounded-4 border border-3">
    <br>

    <!--Text-->
    <div class="w-75 mx-auto">
        <h5 class="mt-5"><strong>What is Carpal Tunnel Syndrome?</strong></h5>
        <p class class="mt-3">Carpal tunnel syndrome is one of the most common hand conditions in the world.
                              When pressure is applied on the median nerve in the carpal tunnel of the wrist, the condition starts to develop.
                              The carpal tunnel is located on the palm side of the hand, and it is a narrow passageway that is surrounded by bones and ligaments.
                              When the median nerve is compressed, the carpal tunnel experiences more pressure and narrowing, while leads to the development of carpal tunnel syndrome.
        </p>
        <h5 class="mt-5"><strong>What Symptoms are Associated With the Condition?</strong></h5>
        <p class class="mt-3">The three main symptoms associated with carpal tunnel syndrome are tingling, numbness, and weakness.
                              Tingling and numbness are the first symptoms that arrive, and the thumb, middle, and ring fingers are usually affected.
                              It is also possible that you might feel an electric shock in these fingers, and the sensation can also travel up the wrist into the arm.
                              Weakness comes next, and it can cause you to drop objects and struggle to grip objects frequently.
        </p>
    </div>

    <!--Quote-->
    <div class="w-50 align-items-center justify-content-center mx-auto">
        <br>
        <br>
        <h1 class="mt-5">"My constant wrist injuries caused me to get fired, but CarpalSense has come to my rescue!"</h1>
        <div class="mx-auto d-flex mt-3">
            <img src="{{url_for('static', filename = 'img/asian_man.jpg')}}" alt="Quote Profile Picture" class="d-block mt-5 rounded-4 border border-3 w-25">
            <div class="mt-5 px-4">
                <h6>Tanaka Kuroto</h6>
                <p>Software Engineer & Management</p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <!--Text 2-->
    <div class="w-75 mx-auto">
        <h5 class="mt-5"><strong>How is Carpal Tunnel Syndrome Treated?</strong></h5>
        <p class class="mt-3">If carpal tunnel syndrome isn't caught early, more extreme methods like surgery, wrist splinting, and anti-inflammatory drugs must be used to treat the condition.
                              However, if the condition is caught before it gets worse, simple things can be done to fix the condition like breaks, calm activities, and cold packs.
                              The problem is that most people are unaware of the dangers of carpal tunnel syndrome and just pass off symptoms as simple muscle pulls or fatigue.
                              CarpalSense can help solve this problem by providing real-time information to users, letting them know when they are at risk of developing carpal tunnel syndrome.
        </p>
    </div>

    <br>
    <br>
{% endblock main %}