{% extends 'layout.html' %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='/js/signUp.js') }}"></script>
{% endblock scripts %}

{% block main %}
    <br>
    <!-- Heading -->
    <section class="text-center heading">
        <div class="container">
            <br>
            <h1>Sign Up</h1>
            <br>
        </div>
    </section>

    <!--Sign Up -->
    <section class="signUp">
        <div class="container-sm signUpForm">
            <form class="col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto d-flex flex-column align-items-left needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" placeholder="First Name" id="firstName" class="form-control" pattern="^(?=.*[a-zA-Z])[a-zA-Z\s'-]+$" required>
                    <div class="invalid-feedback">Please enter a valid first name.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" placeholder="Last Name" id="lastName" class="form-control" pattern="^(?=.*[a-zA-Z])[a-zA-Z\s'-]+$" required>
                    <div class="invalid-feedback">Please enter a valid last name.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="userEmail">Email</label>
                    <input type="email" placeholder="Email" id="userEmail" class="form-control" pattern="^[a-zA-Z0-9._%+-]+@ctemc\.org$" required>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="userPass">Password</label>
                    <input type="password" placeholder="Password" id="userPass" class="form-control" data-bs-toggle="popover" title="Password Requirements"
                        data-bs-content="8 or more characters, at least 1 number" data-bs-trigger="focus"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                    <div class="invalid-feedback">Please enter a valid password.</div>
                </div>
                <button type="submit" id="submitData" name="submitData" class="btn btn-primary w-100">Sign Up</button>
                <a href="{{ url_for('signIn') }}" class="badge bg-secondary py-1 text-decoration-none align-self-center mt-4">Already have an account?</a>
            </form>
        </div>
    </section>
{% endblock main %}