<!-- Footer -->
<footer class="footerBG text-center">
    <div class="container p-4 d-flex align-items-center gap-5">
        <!-- Logo -->
        <a href="{{ url_for('index') }}" class="navbar-brand mb-0 ms-2 me-auto d-flex align-items-center fs-5">
            <img src="{{ url_for('static', filename='/img/carpal_sense_logo.png') }}" alt="CarpalSense Logo" class="d-inline-block align-text-top" style="width: 40px; height: auto;">
            CarpalSense
        </a>

        <!-- Footer Navigation -->
        <ul class="navbar-nav flex-row flex-wrap justify-content-around w-75">
            <li class="nav-item col-12 col-md-auto">
                <a href="{{ url_for('problem') }}" class="nav-link px-3">Problem</a>
            </li>
            <li class="nav-item col-12 col-md-auto">
                <a href="{{ url_for('design') }}" class="nav-link px-3">Design</a>
            </li>
            <li class="nav-item col-12 col-md-auto">
                <a href="{{ url_for('about') }}" class="nav-link px-3">About</a>
            </li>
        </ul>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        Copyright &copy; 2026 CarpalSense
    </div>
</footer>