<nav class="navbar navbar-expand-md fixed-top background-color-dark navbar-dark nav-align py-0">
    <!-- lg = large breakpoint, headerBG = custom css BG color -->
    <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
            <!-- Hamburger Menu Button-->
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="navbar-brand mb-0 ms-2">
                <img src="{{ url_for('static', filename='/img/carpal_sense_logo.png') }}" alt="CarpalSense Logo" class="d-inline-block align-text-top" style="width: 60px; height: auto;">
            </a>

            <!-- Collapsible navbar menu with custom hover underline CSS animation -->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul id="navList" class="navbar-nav mx-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a href="{{ url_for('problem') }}" class="nav-link hover-underline-animation nbMenuItem px-3">Problem</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('design') }}" class="nav-link hover-underline-animation nbMenuItem px-3">Design</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('about') }}" class="nav-link hover-underline-animation nbMenuItem px-3">About</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Auth Buttons -->
        <div class="d-flex align-items-center auth-buttons">
            {% if currentUser %}
                <ul class="navbar-nav mb-0" id="profile">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle linkItem" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ currentUser.firstname }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                            <li><a class="dropdown-item" id="logoutLink" href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <a href="{{ url_for('signIn') }}" class="btn btn-link px-3 me-2 text-decoration-none linkItem">Log In</a>
                <a href="{{ url_for('signUp') }}" class="btn btn-primary px-3 linkItem">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>